
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  background-color: #65647C !important; 
  color: #C7BCA1 !important;
  
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#startButton {
background-color: #F1D3B3 !important;
color: #3b352f !important;
border:#3b352f;

}

#startButton:hover {
  background-color: #f5f5f9 !important;
}

#countdown {
  padding-top: 15px;
}
#second-countdown {
  padding-top: 10px;
}